body{
    background: rgb(37, 37, 37);

}

.bg-body-tertiary {
    background-color: #f8f9fa3b!important;
}

.card {
    padding: 0.3em;
    background-color: grey;
    box-shadow: 0 7px 7px rgba(0,0,0,0.18);
}

.card img {
    padding: 0.7em;
}

.btn-outline-success{
    color: white;
    border-color: white;
    background-color: rgb(50, 202, 88);
}

.btn-danger{
    border-color: white;
}

.btn-info{
    border-color: white;
}

.btn {
    padding: 0.3em;
    margin-left: 5px;
}

.texto-blanco{
    color: white;
}

.input-group{
    background-color: white;
    border: 2px solid white;
    width: 100%;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 05s;
    overflow: hidden;
}

.input-group i{
    margin-left: 15px;
    margin-right: 15px;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: white;
}
